$page-prefix-cls: "v-page";

.#{$page-prefix-cls} {
  font-size: 0;
  user-select: none;
}

.#{$page-prefix-cls}-total {
  margin-right: 10px;
  height: 24px;
  line-height: 24px;
  color: #657180;
  font-size: 12px;
}

.#{$page-prefix-cls}-number {
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin: 0;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  color: #657180;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: #20a0ff;
  }

  &.active {
    color: #fff;
    background-color: #39f;
    border-color: #39f;
    cursor: default;
  }
}

.#{$page-prefix-cls}-arrow {
  @extend .#{$page-prefix-cls}-number;

  font-size: 14px;
  color: #666;

  &.disabled {
    color: #ccc;
    cursor: not-allowed;
  }
}

.#{$page-prefix-cls}-more {
  .v-icon-ios-arrow-left:after {
    content: "\F3D2";
  }

  .v-icon-ios-arrow-right:after {
    content: "\F3D3";
  }
}